
body {
    font-family: serif;
    background: wheat;
    padding: 20px;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


.box {
    max-width: 400px;
    background: white;
    margin: auto;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.box label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}


.box input, 
.box select {
    width:60%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
    font-size: 16px;
    box-sizing: border-box;
}


.box button {
    width:90%;
    padding: 12px;
    background: #147201;
    border: none;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.box button:hover {
    background: #2bec04;
}

#monthlyEmi, #totalEmi, #totalInterest {
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
}




@media (max-width: 480px) {
    .box {
        width: 90%;
        padding: 20px;
    }

    .box button {
        font-size: 16px;
        padding: 10px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .box {
        width: 80%;
        padding: 25px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .box {
        width: 50%;
    }
}

@media (min-width: 1025px) {
    .box {
        width: 40%;
    }
}
