body {
    font-family: serif;
    padding: 20px;
    background: #f5f5f5;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.box {
    max-width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    width: 70%;
    padding: 10px;
    margin-top: 6px;
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
}

.button-row {
    display: flex;
    justify-content: space-between; /* LEFT + RIGHT */
    margin-top: 15px;
}


.btn {
    width: 48%;              
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}


.left-btn {
    background-color: #006919;
    color: white
}
.left-btn:hover {
    background-color: #11e446;
}

.right-btn {
    background-color: #be0316;
    color: white
}
.right-btn:hover {
    background-color: #ff4047;
}


h3 {
    margin-top: 20px;
    
    padding-top: 10px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

@media (max-width: 480px) {
    .box {
        width: 100%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}




@media(max-width: 480px) {
    .box button.calculate,
    .box button.cancel {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .button-row {
        flex-direction: column;
    }
    .btn {
        width: 100%;
        margin-top: 10px;
    }
}
