* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    position: absolute;
    top: 10px;
    color: blue;
    word-spacing: 5px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius:8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-top: 80px;
}

.form-group {
    width: 92%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

label {
    color: red;
    word-spacing: 6px;
    font-weight: bold;
    font-size: 17px;
    min-width: 150px;
    text-align: right;
}

input {
    flex: 1;
    padding: 15px;
    color: black;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    width: 80%;
    padding: 12px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

button:hover {
    background-color: lightyellow;
}

.result {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.result p {
    margin: 8px 0;
    color:black;
    font-weight: bold;
    font-size: 19px;
}
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 10px;
    }
    h1 {
        font-size: 22px;
        text-align: center;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 60%;
    }
}
